body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
  background-color: Plum;

}
h1 {

  font-family: 'Courier New', Courier, monospace;
  font-size: 200%;
  color: Ivory;
  
  border: 2px Lightblue;
}
h2 {
  font-family: Arial Narrow, sans-serif;
  font-size: 140%;
  color: #1C1C1C;

}

mark{
    background-color: DeepSkyBlue;
}
